body
{
  margin:0;
  padding:0;
}
#div1
{
  width:45%;
  /* background-color:#220000; */
  float:left;
  height:100%;
  position:absolute;
}
#div2
{
  width:15%;
  /* background-color:#000022; */
  float:left;
  height:100%;
  position:absolute;
}
#splitter
{
  width:5px;
  background-color:#002200;
  float:left;
  height:100%;
  position:absolute;
  cursor:w-resize;
}
